<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335524830268-s3se519rqndtt91ov1mnhjdinmquntet.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335524830268-s3se519rqndtt91ov1mnhjdinmquntet</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>335524830268-0n9endfhp0v60pgjoovnd532jnv8vpde.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBHceUbXFHhGRsppS9Bu6lioM_0pcWtp0o</string>
	<key>GCM_SENDER_ID</key>
	<string>335524830268</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexacom.delivery</string>
	<key>PROJECT_ID</key>
	<string>citric-plexus-190723</string>
	<key>STORAGE_BUCKET</key>
	<string>citric-plexus-190723.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335524830268:ios:5ac1e56426c4ba0540f739</string>
	<key>DATABASE_URL</key>
	<string>https://citric-plexus-190723.firebaseio.com</string>
</dict>
</plist>